<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}" class="nav-link">Home</a>
            <a href="{{ url_for('playlists') }}" class="nav-link">Playlists</a>
            <a href="{{ url_for('settings') }}" class="nav-link">Settings</a>
        </nav>
        <h1>Playlists</h1>
    </header>
    <main>
        <section class="intro">
            <h2>Discover Your Playlist Manager</h2>
           <p>Create, view, and manage playlists seamlessly.</p>
           <button onclick="location.href='/sync-playlists'">Sync Playlists</button>
        <!-- Modal Window -->
            <div id="outputModal" style="display:none;">
                <div>
                    <span id="closeModal" style="cursor:pointer;">&times;</span>
                    <h2>Sync Output</h2>
                    <pre id="outputContent"></pre>
                </div>
            </div>

            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            <script>
            document.getElementById('syncButton').addEventListener('click', function() {
                fetch('/sync-playlists')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('outputContent').textContent = data.output;
                        document.getElementById('outputModal').style.display = 'block';
                    });
            });

            document.getElementById('closeModal').addEventListener('click', function() {
                document.getElementById('outputModal').style.display = 'none';
            });
            </script>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Complexity</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
