<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <nav>
            <a href="{{ url_for('home') }}" class="nav-link">Home</a>
            <a href="{{ url_for('playlists') }}" class="nav-link">Playlists</a>
            <a href="{{ url_for('settings') }}" class="nav-link">Settings</a>
        </nav>
        <h1>Settings</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="PLEX_URL" class="PLEX_URL">Plex URL</label>
                <input type="text" class="form-control" id="PLEX_URL" name="PLEX_URL" value="{{ settings.PLEX_URL }}">
            </div>
            <div class="mb-3">
                <label for="PLEX_TOKEN" class="PLEX_TOKEN">Plex Token</label>
                <input type="text" class="form-control" id="PLEX_TOKEN" name="PLEX_TOKEN" value="{{ settings.PLEX_TOKEN }}">
            </div>
            <div class="mb-3">
                <label for="PLEX_LIBRARY_SECTION_ID" class="form-label">Plex Library Section ID</label>
                <input type="text" class="form-control" id="PLEX_LIBRARY_SECTION_ID" name="PLEX_LIBRARY_SECTION_ID" value="{{ settings.PLEX_LIBRARY_SECTION_ID }}">
            </div>
            <div class="mb-3">
                <label for="client_id" class="form-label">Client ID</label>
                <input type="text" class="form-control" id="client_id" name="client_id" value="{{ settings.client_id }}">
            </div>
            <div class="mb-3">
                <label for="client_secret" class="form-label">Client Secret</label>
                <input type="text" class="form-control" id="client_secret" name="client_secret" value="{{ settings.client_secret }}">
            </div>
            <div class="mb-3">
                <label for="playlist_ids" class="form-label">Playlist IDs</label>
                <input type="text" class="form-control" id="playlist_ids" name="playlist_ids" value="{{ settings.playlist_ids | default('') }}">

            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save Settings</button>
        </form>
    </div>
</body>
</html>
